version: '3.9'

services:
  
  frontend:
    build: ./frontend
    container_name: vite_frontend
    command: npm run dev -- --host
    ports: 
      - "5173:5173"
    volumes: 
      - ./frontend:/app 
      - /app/node_modules
    environment: 
      - VITE_API=http://backend:8000
    depends_on: 
      - backend
  
  backend: 
    build: ./backend
    container_name: fastapi_backend
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    ports: 
      - "8000:8000"
    volumes: 
      - ./backend:/app
    environment: 
      - DATABASE_URL=${DATABASE_URL}
    depends_on: 
      db:
        condition: service_healthy

  db:
    image: postgres:15
    container_name: postgresql_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports: 
      - "5432:5432"
    volumes: 
      - ./db/db_5pjs.sql:/docker-entrypoint-initdb.d/db_5pjs.sql
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5


  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports: 
      - "5050:80"
    depends_on: 
      - db

  app:
    depends_on:
      docuseal_postgres:
        condition: service_healthy
    image: docuseal/docuseal:latest
    ports:
      - 3000:3000
    volumes:
      - ./docuseal:/data/docuseal
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@docuseal_postgres:5432/docuseal

  docuseal_postgres:
    image: postgres:15
    volumes:
      - './docuseal_pg_data:/var/lib/postgresql/data'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: docuseal
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata:


